* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #000;
}

header {
	background-color: #222;
	position: fixed;
	z-index: 25;
	top: 0;
	left: 0;
	width: 100%;
	font-family: roboto, helvetica, arial, sans-serif;
	color: white;
}

nav {
	display: block;
	max-width: 1200px; /*Alterar ao quebrar a linha*/
	width: auto;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	align-items: center;
	justify-content: center;
}

main {
	position: absolute;
	margin-top: 100px;
	height: auto;
	width: 100%;
	font-family: roboto, helvetica, arial, sans-serif;
	color: white;
}

.container-menu {
	display: flex;
	padding: 0.35% 0;
	justify-content: space-around;
	align-items: center;
}

.logo-menu {
	text-align: center;
	position: relative;
	margin: 0;
}

.menu {
	width: 60vw;
}

.menu-site-normal {
	list-style: none;
	display: flex;
}

.menu-site-normal li {
	display: inline;
	position: relative;
	margin: 0 2.5% 0 1%;
	cursor: pointer;
	font-weight: 300;
	font-size: 0.8rem;
}

.menu-site-normal li:hover {
	color: #ffc709;
}

.menu-site-normal li::after {
	position: absolute;
	content: "";
	width: 6px;
	height: 6px;
	border: 2px solid #ffc709;
	border-top: 0;
	border-left: 0;
	transform: rotate(-45deg);
	cursor: pointer;
	margin: 3% 0 0 5%;
}

.menu-site-normal li::before {
	position: absolute;
	content: "";
	width: 0;
	top: 97%;
	height: 3px;
	background-color: #ffc709;
	transition: width .5s cubic-bezier(.165, .84, .44, 1);
}

.menu-site-normal li:hover::before {
	width: 100%;
}

.menu-site-normal li:hover::after {
	transform: rotate(45deg);
	transition: all 0.5s;
}

.interacao-usuario {
	width: 30vw;
}

.interacao-usuario button {
	border: 2px solid #fff;
	cursor: pointer;
	background-color: #000;
	border-radius: 2px;
	color: #fff;
	transition: background-color .3s cubic-bezier(.165,.84,.44,1),border-color .3s cubic-bezier(.165,.84,.44,1);
	width: 45%;
	letter-spacing: 1px;
	height: 45px;
	text-align: center;
	padding: 0;
	margin-top: 0;
	font-weight: bold;
}

.interacao-usuario button:hover {
	border-color: #ffc709;
	background: #ffc709;
	color: black;
	transition: background .5s cubic-bezier(.165, .84, .44, 1), border-color .5s cubic-bezier(.165, .84, .44, 1);
	font-weight: bold;
}

.interacao-usuario a {
	cursor: pointer;
	font-weight: 300;
	font-size: 0.8rem;
	margin-left: 2%;
}

.interacao-usuario a::before {
	position: absolute;
	content: "";
	width: ;
	min-width: 6.3rem;
	bottom: 33%;
	height: 1px;
	background-color: #ffc709;
	transition: width .5s cubic-bezier(.165, .84, .44, 1);
}

.interacao-usuario a:hover::before {
	height: 3px;
}

.container-body {
	display: block;
	max-width: 1200px;
	width: auto;
	margin-right: auto;
	margin-left: auto;
	text-align: left;
	align-items: center;
	justify-content: center;
}

.grid-on-1 {
	display: inline-block;
	margin-top: 7%;
	max-width: 60%;
}

.grid-on-1 h1 {
	text-align: left;
	margin-left: 5%;
	color: #ffc709;
	font-weight: 300;
	font-family: Trebuchet MS, sans-serif;
	font-size: 2.5rem;
}

.grid-on-1 h2 {
	text-align: left;
	margin-left: 5%;
	font-size: 1.2rem;
	font-weight: 300;
	letter-spacing: 1px;
	margin-top: 7%;
}

.grid-on-1 button {
	position: relative;
	border: 2px solid #ffc709;
	cursor: pointer;
	background-color: #ffc709;
	border-radius: 2px;
	color: #000;
	letter-spacing: 1px;
	font-weight: bold;
	height: 45px;
	width: 170px;
	text-align: center;
	padding: 0;
	margin-top: 7%;
	font-weight: bold;
	justify-content: left;
	margin-left: 5%;
}

.grid-on-1 p {
	margin-left: 5%;
	margin-top: 3%;
	font-size: 0.8rem;
	font-weight: 300;
	max-width: 70%;
}

.grid-on-2 {
	position: absolute;
	display: inline-block;
	margin-top: 150px;
	max-width: 30%;
	margin-left: 3%;
}

.grid-on-2 .primeiro-quadro {
	height: 110px;
	width: 295px;
	background-color: #222;
	border-radius: 10px;
	cursor: pointer;
}

.grid-on-2 .primeiro-quadro:hover {
	background-color: #fff;
	color: #000;
}

.grid-on-2 .primeiro-quadro img{
	position: absolute;
	display: inline-block;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.grid-on-2 .primeiro-quadro p {
	position: absolute;
	display: inline-block;
	font-size: 0.8rem;
	font-weight: bold;
	margin-left: 40%;
	margin-top: 5%;
}

.grid-on-2 .primeiro-quadro .nota {
	position: absolute;
	display: inline-block;
	margin-top: 25%;
	font-size: 0.65rem;
}

.grid-on-2 .primeiro-quadro .nota::after{
	position: absolute;
	display: inline-block;
	content: "➝";
	color: rgb(224, 173, 0);
	font-size: 160%;
	margin-top: -6px;
	margin-left: 4px;
}

.grid-on-2 .segundo-quadro {
	height: 110px;
	width: 295px;
	background-color: #222;
	border-radius: 10px;
	margin-top: 13%;
	cursor: pointer;
}

.grid-on-2 .segundo-quadro:hover {
	background-color: #fff;
	color: #000;
}

.grid-on-2 .segundo-quadro img{
	position: absolute;
	display: inline-block;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.grid-on-2 .segundo-quadro p {
	position: absolute;
	display: inline-block;
	font-size: 0.8rem;
	font-weight: bold;
	margin-left: 29%;
	margin-top: 7%;
}

.grid-on-2 .segundo-quadro .nota {
	position: absolute;
	display: inline-block;
	margin-top: 25%;
	font-size: 0.65rem;
}

.grid-on-2 .segundo-quadro .nota::after{
	position: absolute;
	display: inline-block;
	content: "➝";
	color: rgb(224, 173, 0);
	font-size: 160%;
	margin-top: -6px;
	margin-left: 4px;
}

/*Parte do menu mobile*/
.menu-mobile {
	display: none;
}

.line-1 {
	display: block;
	width: 28px;
	height: 2px;
	background-color: #fff;
	margin: 7px 2px 0 0;
}

.line-2 {
	display: block;
	width: 16px;
	height: 2px;
	background-color: #fff;
	margin: 7px 2px 0 0;
}

.line-3 {
	display: block;
	width: 22px;
	height: 2px;
	background-color: #fff;
	margin: 7px 2px 0 0;
}

@media screen and (max-width: 1172px) {

	.menu-mobile {
		display: inline-block;
		position: relative;
		left: calc(5% + 10px);

	}
	.interacao-usuario button {
		width: calc(45% + 20px);
	}

	.interacao-usuario {
		display: inline-flex;
		margin-left: calc(-30% - 70px);
	}

	.menu-site-normal {
		display: none;
	}

	.interacao-usuario a {
		display: none;
	}
}

@media screen and (max-width: 999px) {
	.interacao-usuario button {
		width: 150px
	}

	.grid-on-1 {
		max-width: 88%;
	}

	.grid-on-1 p {
		max-width: 91.5%;
	}

	.grid-on-2 {
		position: absolute;
		display: block;
		margin-top: 50px;
		max-width: 100%;
		margin-left: 5%;
	}

	.grid-on-2 .segundo-quadro p {
		position: absolute;
		display: inline-block;
		font-size: 0.8rem;
		font-weight: bold;
		margin-left: 29%;
		margin-top: 7%;
	}

	.grid-on-2 .segundo-quadro .nota {
		position: absolute;
		display: inline-block;
		margin-top: 25%;
		font-size: 0.65rem;
	}

	.grid-on-2 .segundo-quadro .nota::after{
		position: absolute;
		display: inline-block;
		content: "➝";
		color: rgb(224, 173, 0);
		font-size: 160%;
		margin-top: -6px;
		margin-left: 4px;
	}
}

@media screen and (max-width: 500px) {
	.interacao-usuario button {
		width: 80%;
	}
}
